@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {

    background-color: rgb(86, 158, 187);
    box-sizing: border-box;
}


li,
a,
button {
    font-family: 'Pacifico', cursive;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    color: whitesmoke;


}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 2%;

}

.logo {
    cursor: pointer;
}

.nav_links {
    list-style: none;
}

.nav_links,
li {
    display: inline-block;
    padding: 5px 15px;
}

.nav_links,
li,
a {
    transition: all 0.3s ease 0s;

}

.nav_links,
li,
a:hover {
    color: rgb(212, 4, 108);
}

button {
    padding: 8px 15px;
    background-color: skyblue;
    border: none;
    border-radius: 80px;
    cursor: pointer;
    transition: all 0.3s ease 0s;

}

button:hover {
    color: rgb(212, 4, 108);


}

h1 {
    color: rgb(212, 4, 108);
    background-color: skyblue;
    border: none;
    border-radius: 12px;
    display: inline;
}

p {
    color: rgb(212, 4, 108);
    background-color: skyblue;
    padding: 20px 15px;
    width: 50vh;
    font-family: 'Pacifico', cursive;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
    border: none;
    border-radius: 20px;

}